.value-do-offr-ul span {
    margin-right: 10px;
}

.our-achievement{
    background-color: #E6FAFF;
}
.our-achivmnt-box{
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.our-achivmnt-tittle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}