.about-us-banner-main {
    background: #3838ff;
    position: relative;
}
.about-us-banner-main:after {
    position: absolute;
    background-image: url(/assets/images/about_us/bnnr_ptrn.webp);
    top: 0;
    right: 0;
    width: 600px;
    content: "";
    z-index: 1111;
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
.about-us-banner-tittle {
    font-size: 45px;
    font-weight: 700;
    color: #fff;
}
.about-us-banner-txt {
    color: #fff;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 1px;
}
.about-us-banner-img img {
    width: 500px;
    text-align: end;
}

.who_we_are{
  position: relative;
  overflow: hidden;
}
.who_we_are::after{
  position: absolute;
  content: "";
  background-image: url(/assets/images/about_us/who_we_are_pttern.webp);
  top: 50px;
  right: -80px;
  width: 250px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}
.value-do-offr-ul span {
    margin-right: 10px;
}

.our-achievement{
    background-color: #E6FAFF;
}
.our-achivmnt-box{
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.our-achivmnt-tittle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}
.know-our-story-img {
    display: flex;
    width: 100%;
    overflow: auto;
}
.know-our-story-img img{
    max-width: 3000px;
    padding-bottom: 60px;
}


.value-do-offr-ul li{
  display: flex;
}





.trst-tg-carousel .item img {
  width: inherit;
}

.trst-tg-carousel .item {
  width: 140px;

  cursor: pointer;

  filter: grayscale(1);

  transition: 0.6s;
}

.trst-tg-carousel .item:hover {
  filter: grayscale(0);
}

@keyframes slides {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.trst-tg-box-carousel {
  overflow: hidden;

  padding: 30px 0px;

  white-space: nowrap;

  position: relative;
}

.trst-tg-box-carousel:before,
.trst-tg-box-carousel:after {
  position: absolute;

  top: 0;

  content: "";

  width: 250px;

  height: 100%;

  z-index: 2;
}

/* .trst-tg-box-carousel:before {

    left: 0;

    background: linear-gradient(to left, rgba(255,255,255,0), rgb(255, 255, 255));

  }

  

  .trst-tg-box-carousel:after {

    right: 0;

    background: linear-gradient(to right, rgba(255,255,255,0), rgb(255, 255, 255));

  } */

.tsrt-tg-box-items {
  display: inline-block;
  animation: 20s slides infinite linear;
}

.trst-tg-box-carousel:hover .tsrt-tg-box-items {
  animation-play-state: paused;
}

.tsrt-tg-box-items img {
  height: 100px;
  margin: 0 40px;
}




.tsrt-box {
  background-color: #fff6e9;

  padding: 30px;

  border-radius: 10px;
}

.tsrt-box-icon-f {
  background-color: #fff;

  border-radius: 50px;

  font-weight: 400;

  font-size: 24px;

  height: 60px;

  width: 60px;

  display: flex;

  justify-content: center;

  align-items: center;
}

.tsrt-box-1 .tsrt-box-icon-f {
  color: #3838ff;
}

.tsrt-box-2 .tsrt-box-icon-f {
  color: #000c66;
}

.tsrt-box-3 .tsrt-box-icon-f {
  color: #3838ff;
}

.tsrt-box-4 .tsrt-box-icon-f {
  color: #050a30;
}

.tsrt-box-title {
  font-size: 20px;

  font-weight: 500;

  margin: 10px 0;
  color: #080808;
}

.tsrt-box-p {
  font-size: 14px;

  font-weight: 400;

  color: #080808;
}

.tsrt-box-icon-b {
  color: #fff;

  display: inline-block;

  padding: 5px 10px;

  border-radius: 40px;

  transform: rotate(-45deg);

  margin-top: 10px;
}

.tsrt-box-1 .tsrt-box-icon-b {
  background-color: #3838ff;
}

.tsrt-box-2 .tsrt-box-icon-b {
  background-color: #000c66;
}

.tsrt-box-3 .tsrt-box-icon-b {
  background-color: #3838ff;
}

.tsrt-box-4 .tsrt-box-icon-b {
  background-color: #050a30;
}

.tsrt-box-1 {
  background-color: #fff6e9;
}

.tsrt-box-2 {
  background-color: #ebfff4;
}

.tsrt-box-3 {
  background-color: #ffefef;
}

.tsrt-box-4 {
  background-color: #f2f3ff;
}


/* 
.our-cust-rev-box {
    background: #F9FAFB;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
}
.our-rating-cr .owl-item {
    margin: 20px;
}
.our-cust-rev-tittle {
    font-size: 18px;
    font-weight: 600;
    color: #080808;
}
.our-cust-rev-cnt {
    font-size: 14px;
    font-weight: 400;
    color: #080808;
    margin: 10px 0;
}
.our-cust-rev-user {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;
}
.our-cust-rev-pro img {
    width: 50px !important;
    height: auto;
    margin-right: 20px;
} */





@media only screen and (max-width: 992px) {
    .who_we_are::after{
      display: none;
    }
    .about-us-banner-main:after{
      background-position: bottom;
    }
    .about-us-banner-cnt, .who_we_are_img, .about-features-img  {
      margin-bottom: 30px;
    }
    .tsrt-box{
      margin: 10px 0;
    }
}


@media only screen and (max-width: 767px) {
  .our-achivmnt-box{
    height: auto;
    margin: 10px 0;
  }
}