.aws-banner {
    background-position: top 0 left 0;
}

.banner-inner {
    width: 100%;
    height: auto;
    background-image: url(../images/domain_search/banner-bg-hosting.jpg);
    position: relative;
    overflow: hidden;
    padding: 50px 0;
}
.banner-inner, .banner-inner .banner-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-inner .banner-content {
    text-align: center;
}
.banner-inner .banner-content .banner-subtitle {
    color: #fff;
    max-width: 1000px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .7px;
    display: block;
    margin: 11px auto;
}

.aws-banner .banner-content span {
    color: #fff;
    max-width: 1000px;
    font-size: 20px !important;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: .7px;
    margin: 11px auto 0;
}
.aws-banner .banner-content a:hover {
    background-color: #03305d;
}

.banner-inner .banner-content .btn-primary {
    color: #fff !important;
    text-transform: none;
    position: relative;
    font-size: 15px;
    font-weight: 400;
    border-bottom: none;
    display: inline-block;
    cursor: pointer;
    transition: .5s ease 0s;
    -webkit-animation: animationFrames linear 5s;
    -khtml-animation: animationFrames linear 5s;
    -moz-animation: animationFrames linear 5s;
    -ms-animation: animationFrames linear 5s;
    -o-animation: animationFrames linear 5s;
    animation: animationFrames linear 5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    padding: 13px 41px 13px 19px;
    margin: 20px auto 15px;
    border-radius: 25px;
}
.aws-banner .banner-content a {
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px 60px 10px 20px;
    background-color: #18b35c;
    border-color: #18b35c;
    font-size: 16px;
    color: #fff;
    border-bottom: 2px solid;
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: .3s ease 0s;
    -khtml-animation: animationFrames linear 5s;
    animation: animationFrames linear 5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.banner-inner .banner-content .btn-primary:before {
    content: "\f0da";
    font-family: "Font Awesome 6 FREE";
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 14px;
    position: absolute;
    left: initial;
    right: 20px;
    top: 13px;
    font-weight: 800;
}


.aws-content .aws-managed-services .aws-para, .aws-content .aws-managed-services .left {
    padding-top: 15px;
}
.aws-content .aws-managed-services .left .points {
    display: inline-block;
}
.aws-content .aws-managed-services .left .points ul {
    position: relative;
    display: block;
}
.aws-content .aws-managed-services .left .points ul li {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: .5px;
    position: relative;
    padding-left: 35px;
    color: #03305d;
    height: 40px;
    display: flex;
    align-items: center;
    margin: 0;
    float: left;
    width: 50%;
}
.aws-content .aws-managed-services .left .points ul li:before {
    position: absolute;
    content: "";
    background: url(../images/sprite-image.png) 0 -40px no-repeat;
    top: 54%;
    left: 0;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
}
.aws-managed-services .section-heading{
    margin-bottom: 20px;
}
.aws-content .aws-managed-services .left .start-now {
    margin: 20px 0;
    display: block;
}
.aws-content .aws-managed-services .left .start-now .btn-start-now {
    display: inline-block;
    padding: 10px 27px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
    -webkit-box-shadow: 2px 3px 4px 0 #a6a6a6;
    box-shadow: 2px 3px 4px 0 #a6a6a6;
    cursor: pointer;
    transition: .3s ease 0s;
    -khtml-animation: animationFrames linear 5s;
    animation: animationFrames linear 5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-color: #18b35c;
    border-radius: 30px;
    letter-spacing: 1px;
}
.vps-features .features-main .features-start .content-main .feature-icon .vps-features-icon.savings {
    background-position: -1476px 0;
    width: 51px;
}
.vps-features .features-main .features-start .content-main .feature-icon .vps-features-icon {
    margin: auto;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    background-image: url(../images/features-sprite-image.png);
}
.vps-features .features-main .features-start .content-main .feature-icon .vps-features-icon.migration {
    background-position: -1538px 0;
    width: 56px;
}
.vps-features .features-main .features-start .content-main .feature-icon .vps-features-icon.expert {
    background-position: -1606px 0;
    width: 55px;
}




.aws-content .what-we-do {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #03305d;
}
.cms ul, .cms ul li {
    position: relative;
}
.aws-content .what-we-do .aws-list li {
    color: #fff;
    font-weight: 300;
    letter-spacing: .6px;
    position: relative;
    padding-left: 25px;
    display: block;
    margin: 8px 0;
    font-size: 14px;
}
.aws-content .what-we-do .aws-list li:before {
    position: absolute;
    content: "\f0c2";
    font-family: "font awesome 6 free";
    width: 15px;
    height: 14px;
    left: 0;
    top: 1px;
    background: unset;
    color: #18b35c;
    font-weight: 600;
}



.aws-content .why-choose-us .left {
    padding: 20px 5%;
}
.aws-content .why-choose-us .left .left-in {
    width: 100%;
    max-width: 530px;
    margin: 0 auto;
}
.aws-content .why-choose-us .left .left-in h2 {
    font-size: 34px;
    font-weight: 600;
    letter-spacing: .5px;
    color: #115baa;
    padding-bottom: 30px;
}
.aws-content .why-choose-us .left .left-in .points ul {
    position: relative;
}
.aws-content .why-choose-us .left .left-in .points ul li {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: .5px;
    position: relative;
    padding-left: 35px;
    color: #03305d;
    height: 40px;
    display: flex;
    align-items: center;
    margin: 0 0 8px;
}
.aws-content .why-choose-us .left .left-in .points ul li:before {
    position: absolute;
    content: "";
    background: url(../images/sprite-image.png) 0 -40px no-repeat;
    top: 54%;
    left: 0;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
}

.aws-content .why-choose-us .right-start {
    background: #f0f8ff;
    border-radius: 20px;
    box-shadow: 3px 4px 7px 0 rgba(0, 0, 0, .12);
    margin: 15px;
}
.aws-content .why-choose-us .right-start .right {
    padding: 30px 5%;
}
.aws-content .why-choose-us .right-start .right .right-in {
    width: 100%;
    max-width: 430px;
    margin: 0 auto;
}
.aws-content .why-choose-us .right-start .right .right-in h2 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: .5px;
    color: #18b35c;
    padding-bottom: 30px;
}



.aws-content .lets-talk {
    background-color: #18b35c;
    text-align: center;
    padding: 20px 50px;
}
.aws-content .lets-talk .title {
    color: #fff;
    font-size: 34px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
}
.aws-content .lets-talk .btn-lets-talk {
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px 60px 10px 20px;
    background: #03305d;
    font-size: 20px;
    color: #fff;
    border-bottom: 2px solid;
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: .3s ease 0s;
    -khtml-animation: animationFrames linear 5s;
    animation: animationFrames linear 5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border-radius: 30px;
    letter-spacing: 1px;
}
.aws-content .lets-talk .btn-lets-talk:before {
    content: "\f086";
    font-family: "font awesome 6 free";
    font-size: 22px;
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 8px;
    margin: auto 0;
    width: 25px;
    height: 25px;
}





@media only screen and (max-width: 767px) {
    .aws-content .why-choose-us .right-start{
        margin: 0;
    }
    .aws-content .aws-managed-services .left .points ul li{
        width: 100%;
    }
}