

html {
    scroll-behavior: smooth
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    font-family: Rubik, sans-serif !important
}
img{
    max-width: 100%;
    height: auto;
}
a, a:hover{
    text-decoration: none !important;
}
ol, ul{
    padding-left: 0 !important;
}
li{
    list-style: none !important;
    margin: 10px 0;
}
.text_head {
    color: #080808
}
.head-tb-p-40 {
    padding: 40px 0
}
.section-heading {
    margin-bottom: 50px
}

.section-heading p {
    color: #080808;
    line-height: 1.7em;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .4px
}

.primary-btn-round{
    background-color: #3838ff;
    color: #fff;
    transition: 0.6s;
    border: 1px solid #3838ff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    padding: 10px 30px;
    border-radius: 50px;
    display: inline-block;
}
.primary-btn-round:hover{
    background-color: #000C66;
    color: #fff;
    border: 1px solid #000C66;
}
.primary-btn-sq{
    background-color: #3838ff;
    color: #fff;
    transition: 0.6s;
    border: 1px solid #3838ff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    padding: 10px 30px;
    border-radius: 6px;
    display: inline-block;
}
.primary-btn-sq:hover{
    background-color: #000C66;
    color: #fff;
    border: 1px solid #000C66;
}
.secondary-btn-round{
    background-color: #000C66;
    color: #fff;
    transition: 0.6s;
    border: 1px solid #000C66;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    padding: 10px 30px;
    border-radius: 50px;
    display: inline-block;
}
.secondary-btn-round:hover{
    background-color: #3838ff;
    color: #fff;
    border: 1px solid #3838ff;
}
.secondary-btn-sq{
    background-color: #000C66;
    color: #fff;
    transition: 0.6s;
    border: 1px solid #000C66;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    padding: 10px 30px;
    border-radius: 6px;
    display: inline-block;
}
.secondary-btn-sq:hover{
    background-color: #3838ff;
    color: #fff;
    border: 1px solid #3838ff;
}

.blk-btn-round{
    background-color: #080808;
    color: #fff;
    transition: 0.6s;
    border: 1px solid #080808;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    padding: 10px 30px;
    border-radius: 50px;
    display: inline-block;
}
.blk-btn-round:hover{
    background-color: #3838ff;
    color: #fff;
    border: 1px solid #3838ff;
}
.blk-btn-round-bdr{
    background-color: #fff;
    color: #080808;
    transition: 0.6s;
    border: 1px solid #080808;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    padding: 10px 30px;
    border-radius: 50px;
    display: inline-block;
}
.blk-btn-round-bdr:hover{
    background-color: #080808;
    color: #fff;
    border: 1px solid #080808;
}
.primary-btn-sq-bdr{
    background-color: #fff;
    color: #3838ff;
    transition: 0.6s;
    border: 1px solid #3838ff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    padding: 10px 30px;
    border-radius: 10px;
    display: inline-block;
}
.primary-btn-sq-bdr:hover{
    background-color: #3838ff;
    color: #fff;
    border: 1px solid #3838ff;
}
.blk-btn-sq{
    background-color: #080808;
    color: #fff;
    transition: 0.6s;
    border: 1px solid #080808;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    padding: 10px 30px;
    border-radius: 6px;
    display: inline-block;
}
.blk-btn-sq:hover{
    background-color: #3838ff;
    color: #fff;
    border: 1px solid #3838ff;
}


/* feaatures-box-s */
.vps-features {
    background-color: #e8f4ff;
    height: auto;
    overflow: hidden;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(216,216,255,1) 0%, rgba(255,255,255,1) 100%);
}
.vps-features .features-main {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.vps-features .features-main .features-start .feature-ul {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.vps-features .features-main .features-start .feature-ul .feature-box:nth-child(1), .vps-features .features-main .features-start .feature-ul .feature-box:nth-child(2), .vps-features .features-main .features-start .feature-ul .feature-box:nth-child(3) {
    border-top: none;
}

.vps-features .features-main .features-start .feature-ul .feature-box {
    display: inline-table;
    text-align: center;
    transition: all .3s ease-in-out;
    border-top: 1px solid #fff;
    padding: 40px 36px 46px;
    margin: 0;
}
.vps-features .features-main .features-start .content-main .feature-icon {
    height: 56px;
    display: inline-block;
    -webkit-transform: rotateY(0);
    -khtml-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
    transition-duration: .8s;
    -moz-transition-duration: .8s;
    -webkit-transition-duration: .8s;
}
.vps-features .features-main .features-start .content-main span, 
.vps-features .features-main .features-start .content-main h3 {
    padding-top: 22px;
    padding-bottom: 22px;
    width: 100%;
    margin: 0;
    display: block;
}

.vps-features .features-main .features-start .content-main span,.vps-features .features-main .features-start .content-main h3, .vps-features .features-main .features-start .content-main h3 a {
    font-size: 18px;
    font-weight: 600;
    color: #172838;
    letter-spacing: .5px;
}
.vps-features .features-main .features-start .content-main .content {
    color: #172838;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
    width: 100%;
}

.content {
    overflow: auto;
    position: relative;
    max-height: 260px;
    box-sizing: border-box;
}
#examples, .all-themes-switch, .callbacks, .callbacks+p, .content, .dialog, .disable-destroy, .scrollTo, .show-hide {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.vps-features .features-main .features-start .feature-ul .feature-box:hover {
    background-color: #fff;
    -webkit-transform: translateY(-1px);
    -khtml-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
    transform: translateY(-1px);
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, .15);
}
.vps-features .features-main .features-start .feature-ul .feature-box:hover .content-main .feature-icon {
    transition: .3s;
    -webkit-transform: perspective(3838ff) rotateY(-180deg);
    -khtml-transform: perspective(3838ff) rotateY(-180deg);
    -moz-transform: perspective(3838ff) rotateY(-180deg);
    -ms-transform: perspective(3838ff) rotateY(-180deg);
    -o-transform: perspective(3838ff) rotateY(-180deg);
    transform: perspective(3838ff) rotateY(-180deg);
    transition-duration: 1s;
}
/* feaatures-box-E */


@media only screen and (max-width: 992px) { 
    .head-tb-p-40 {
        padding: 20px 0
    }   
}

@media only screen and (max-width: 767px) {
    .text_head{
        font-size: 22px;
    }
    .blk-btn-round, .blk-btn-round-bdr{
        font-size: 14px;
    }
}

@media only screen and (max-width: 380px) {
    .blk-btn-round, .blk-btn-round-bdr {
        font-size: 12px;
    }
}




/* footer-sticky-section-S */
.btm-bnnr-main {
    background-color: #7EC8E3;
    position: sticky;
    width: 100%;
    z-index: 11;
    bottom: 0;
}
.btm-bnnr-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btm-bnnr-main {
    opacity: 0; /* Start hidden */
    visibility: hidden; /* Hide from accessibility until shown */
    transform: translateY(20px); /* Move down slightly for smooth effect */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    bottom: 0px; /* Adjust placement */
    width: 100%;
    position: fixed;
    transform: translateX(0%) translateY(20px); /* Center and apply initial offset */
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: rgb(126,200,227);
    background: linear-gradient(124deg, rgba(126,200,227,1) 0%, rgba(166,231,255,1) 51%, rgba(155,222,246,1) 100%);
}
.btm-bnnr-tx {
    font-size: 20px;
    font-weight: 500;
}
.btm-bnnr-btn {
    margin-left: 30px;
}

@media only screen and (max-width: 767px) {
    .btm-bnnr-main{
        display: none;
    }
}
/* footer-sticky-section-E */







.wh-server-location-tab .nav {
    justify-content: center;
}
.wh-server-location-tab ul li {
    width: 180px;
    text-align: center;
    display: grid;
    margin: 10px;
}
.wh-server-location-tab .nav-pills .nav-link.active {
    background-color: #3838FF;
    color: #fff;
    border: 1px solid #3838FF;
    box-shadow: rgba(0, 0, 0, .1) 0 4px 12px;
}

.wh-server-location-tab .nav-pills .nav-link {
    padding: 12px;
    background: 0 0;
    border: 1px solid #7EC8E3;
    color: #080808;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.wh-server-location-tab .nav-pills .nav-link img {
    margin-right: 8px;
}


.shared-plan-box-main {
    border: 1px solid #a8e8ff;
    border-radius: 20px;
    margin-top: 40px;
    background-color: #F8FBFF;
}
.shared-plan-nm {
    font-size: 22px;
    font-weight: 500;
    color: #1A1A1A;
}
.shared-plan-price {
    text-align: left;
    padding: 20px;
}
span.cut-price {
    font-size: 18px;
    font-weight: 400;
    color: #808080;
    padding: 10px 0;
    display: inline-block;
    text-decoration: line-through;
    margin-right: 10px;
}
.shared-plan-cut-prc {
    margin: 12px 0;
}
span.cut-prc-disc {
    background: #E1E1FF;
    padding: 8px 16px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 18px;
    color: #1A1A1A;
}
.shared-main-price {
    font-size: 26px;
    font-weight: 400;
    color: #3838ff;
}
.shared-main-price{
    margin-bottom: 12px;
}
.shared-main-price span {
    font-size: 44px;
    font-weight: 600;
    color: #3838ff;
    display: inline-block;
}
.shared-plan-btn a {
    text-align: center;
    width: 100%;
}
.shared-plan-cnt ul li {
    padding-left: 30px;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    color: #1a1a1a;
    margin: 15px 0;
}
.shared-plan-cnt li:before {
    content: "\f00c";
    position: absolute;
    left: 5px;
    top: 0;
    color: #18b35c;
    font-size: 16px;
    font-weight: 600 !important;
    font-family: "Font Awesome 6 Free";
}
.shared-plan-cnt li.cross-icon-li:before {
    content: "\f00d";
    color: #ff0000;
}
.shared-plan-cnt {
    margin: 30px 0 30px 30px;
}
.shared-plan-renew {
    font-size: 12px;
    font-weight: 400;
    color: #808080;
    margin-top: 10px;
}
.shared-plan-most-popular{
    border: 2px solid #3838ff;
    margin-top: 0;
    overflow: hidden;
}
.shared-most-popular-cnt {
    background: #3838ff;
    color: #fff;
    position: relative;
    display: block;
    text-align: center;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}
.shared-plan-bx-pd{
    padding: 0 80px;
}