
.cstmr-rtg-main {

    display: flex;

    justify-content: center;

    align-items: center;

    flex-direction: column

}



.hm-bnnr-cstmr-rtg {

    display: flex;

    justify-content: space-evenly;

    align-items: center;

    flex-direction: row;

    padding: 60px 0 40px

}



.cst-rtg-star img {

    max-width: 25px;

    margin: 12px 0

}



.cst-rtg-data p {

    font-size: 16px;

    font-weight: 500;

    letter-spacing: .4px;

    color: #28282a

}

.g-workspace_bnnr {

    padding: 0 4rem;

    background: transparent linear-gradient(180deg, var(--unnamed-color-ffffff) 0%, #EFF3FF 100%) 0% 0% no-repeat padding-box;

    background: transparent linear-gradient(180deg, #FFFFFF 0%, #EFF3FF 100%) 0% 0% no-repeat padding-box;

    display: flex;

    align-items: center;

    justify-content: center;

    position: relative;

}



.banner_left_s h1 {

    font-size: 18px;
    font-weight: 500;
    color: #3838ff;
    text-align: left;
    background: #eaeaff;
    display: inline-block;
    padding: 3px 8px;
    border-radius: 4px;
    line-height: 25px;

}



.banner_left_s h2 {

    font-size: 45px;

    font-weight: 700;

    color: #000c66;

    margin: 10px 0 10px;

}



p.banner_data_txt {

    font-size: 18px;

    font-weight: 400;

    color: #28282a

}



.banner-left-s-features {

    margin: 30px 0

}



.banner-left-s-features h3 {

    font-size: 18px;

    color: #28282a;

    font-weight: 600;

    margin-bottom: 25px

}



.banner-left-s-features p,

.banner-pricing-box {

    font-weight: 500;

    color: #28282a;

    font-size: 18px;

}



.banner-left-s-features p {

    margin-bottom: 20px

}



.banner-left-s-features p i {

    margin-right: 10px;

    color: #28282a

}



.banner-pricing-box {

    margin: 10px 0

}



.banner-pricing-box span.price {

    font-size: 55px;

    color: #3838ff;

    font-weight: 700

}



.banner-pricing-box span.r-icon {

    font-size: 22px;

    color: #3838ff;

    font-weight: 600

}



.banner-pricing-box span.free-offer {

    font-weight: 600;

    color: #28282a

}

.banner-left-s-features p span {

    font-size: 18px;

    font-weight: 900;

    color: #28282a

}

.bnnr-wbh-right.bnnr-wbh-cstm {

    position: absolute;

    bottom: 0;
    right: 0;

}

.bnnr-wbh-right img {

    width: 880px;

}

.product-box {

    min-height: 300px;

}

.shared-hstg-plan-btn {

    background-color: #007aff;

    border-radius: 8px;

    width: 80%;

    padding: 10px 40px;

    color: #fff;

    border: none;

    transition: .6s;

}

@media only screen and (max-width:1600px) {

    .banner-left-s-features p {

        font-size: 16px;

        margin: 8px 0

    }

    .banner-left-s-features p span,

    .banner-pricing-box {

        font-size: 16px

    }

    .banner-pricing-box span.price {

        font-size: 40px;

        font-weight: 800

    }

    .g-workspace_bnnr {

        padding: 40px 60px

    }
    .bnnr-wbh-right img {
        width: 800px;
    }

}

@media only screen and (max-width: 1400px) {
    .bnnr-wbh-right img {
        width: 750px;
    }
}

@media only screen and (max-width: 1399px) {
    .banner_left_s h2{
        font-size: 28px;
    }
    .bnnr-wbh-right.bnnr-wbh-cstm img{
        width: 650px;
    }
}

@media only screen and (max-width:1199px) {

    .bnnr-wbh-right img {

        width: 640px;

    }

}

@media only screen and (max-width:992px) {

    .bnnr-wbh-right.bnnr-wbh-cstm{

        position: inherit;

    }

    .banner-black-friday-offer-23-hp-main {

        padding: 3rem 4rem

    }

    .bnnr-wbh-right {

        padding-top: 40px

    }

    .product-box {

        min-height: 280px;

    }

}



@media only screen and (max-width:768px) {

    .g-workspace_bnnr {

        background-position: top

    }

}



@media only screen and (max-width:767px) {

    .home_page_wbh_bnnr {

        padding: 0

    }

    .g-workspace_bnnr {

        padding: 20px 10px 0;

    }
    .cst-rtg-tittle {

        min-height: 40px !important

    }

    .cst-rtg-tittle img {

        width: 100px !important

    }

    .cst-rtg-star img {

        width: 16px !important

    }

    .hm-bnnr-cstmr-rtg {

        padding: 40px 0 20px

    }

    .product-box {

        min-height: inherit;

    }

}

.starting-box {

    display: inline-block;

    padding: 8px 0px;

    border-radius: 50px;

    margin: 10px 0 0;

}



.starting-box p {

    margin-bottom: 0px !important;

    color: #3838ff;

}



.price-box {

    display: block;

    margin: 0 0 15px 0;

}



.price-box .cut-price {

    font-size: 20px;

    font-weight: 400;

    color: #B3B3B3;

    text-decoration: line-through;

    margin-right: 8px;

}



.price-box .main-price {

    font-size: 40px;

    font-weight: 700;

    color: #3838ff;

}



.price-box .cnt-price {

    font-size: 16px;

    font-weight: 500;

    color: #3838ff;

}