.g-suite-lists .g_s_l-box {
    margin-bottom: 20px;
}
.g-suite-lists .g-list-box {
    display: inline-block;
    position: relative;
    padding-left: 60px;
}
.list-num {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: #000C66;
    color: #fff !important;
    text-align: center;
    font-size: 20px;
    font-weight: 500 !important;
}
.g-suite-lists .g-list-box h3 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #4d4d4d;
    font-weight: 500;
}
.g-suite-lists .g-list-box span {
    color: #262626;
    font-weight: 300;
    font-size: 15px;
}


.g-apps-ftrs-tbl tr td,
.g-apps-show-more-btn button,
.gapps-pnl-avl-left button {
  background-color: transparent;
  font-weight: 500;
}

.g-apps-features-box {
  background: #f3f9ff;
}

.vps_main .dl-features-points {
/*    background-color: #03305d;*/
    background-color: #f7f9ff;
    padding-top: 40px;
    padding-bottom: 40px;
    background: rgb(255, 255, 255);
    background: linear-gradient(205deg, rgba(255, 255, 255, 1) 0%, rgba(214, 212, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
}

.vps_main .dl-features-points .feature-start .fp-list ul {
    position: relative;
    padding-left: 50px;
}

.vps_main .dl-features-points .feature-start .fp-list ul li{
    position: relative;
}
.vps_main .dl-features-points .feature-start .fp-list ul li h3 {
    position: relative;
   font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: .5px;
    padding-left: 35px;
    color: #fff !important;
    height: 40px;
    display: flex;
    align-items: center;
    margin: 0 0 28px;
    color: black !important;
}
.vps_main .dl-features-points .feature-start .fp-list ul li:before {
    position: absolute;
    content: "\f560";
    top: 5px;
    left: 5px;
    bottom: 0;
    margin: auto;
    font-family: "font awesome 6 free";
    font-weight: 800;
    font-size: 20px;
    color: #000C66;
}

.vps-plan-box {

    margin-top: 20px;

    display: flex;

    flex-direction: column;

    justify-content: center;

    text-align: center;

    border: 1px solid #7EC8E3;

    border-radius: 20px;

    border-top: 6px solid #7EC8E3;

    border-bottom: 6px solid #7EC8E3;

    padding: 30px 0;

    position: relative

}



.vps_plan_price {

    margin-bottom: 10px

}



.vps_plan_price .plan-head {

    color: #000C66;

    font-size: 24px;

    font-weight: 700

}



.vps_plan_price .plan-price-main {

    color: #28282a;

    font-size: 36px;

    font-weight: 700;

    margin: 10px 0

}



.vps_plan_price .vps-prc-mo {

    font-size: 18px;

    color: #585858;

    font-weight: 500

}



.vps_plan_price .plan-cut-price {

    color: #d32a2d;

    font-size: 18px;

    font-weight: 500;

    margin: 25px 0 10px

}



.vps_plan_price .cut-price {

    color: #585858;

    font-size: 18px;

    font-weight: 600;

    margin-right: 10px;

    text-decoration: line-through

}



.vps-plan-slide .nav-pills .nav-link {

    font-size: 14px;

    font-weight: 500;

    line-height: 24px;

    display: inline-block;

    color: #b1b0b0;

    transition: .6s ease-out;

    padding: 2px 18px

}



.vps-plan-slide .nav-pills .nav-link.active {

    color: #000;

    border-radius: 21px !important;

    background: #fff;

    position: relative;

    z-index: 1

}



.vps-plan-slide ul.nav.nav-pills li {

    margin: 4px 0

}



.vps-plan-slide ul.nav.nav-pills {

    padding: 2px 8px;

    background-color: #efefef;

    display: flex;

    justify-content: center;

    align-items: center;

    display: inline-flex;

    border-radius: 50px

}



.vps-plan-desc {

    text-align: left;

    padding: 0 10px 0 30px;

    margin: 15px 0 0

}



.vps-plan-desc ul li {

    display: flex;

    justify-content: flex-start;

    align-items: flex-start;

    font-size: 16px;

    color: #666;

    font-weight: 400;

    margin: 10px 0

}



span.vps-desc-icon i {

    font-size: 16px;

    margin: 5px 12px

}



.vps-plan-conf-btn a {

    font-size: 18px;

    color: #fff;

    background-color: #115baa;

    padding: 8px 40px;

    display: inline-block;

    border-radius: 50px

}



.vps-plan-conf-btn a:hover {

    background-color: #18b362;

    color: #fff

}



.free_domain i.fa-circle-question {

    margin: 6px 4px

}



.tech_exprt_box {

    background-image: url(../images/vps_hosting/texh_exprt_bg.webp);

    padding: 30px 40px;

    border-radius: 20px

}



.tech_exprt_center h2 {

    font-size: 32px;

    color: #fff;

    font-weight: 700;

    margin-bottom: 20px

}



.tech_exprt_center p {

    font-size: 18px;

    color: #fff;

    font-weight: 400

}



.wb-pnl-ul ul li,

p.wb-pnl-cnt {

    line-height: 24px;

    color: #28282a;

    font-size: 18px

}



.tech_exprt_right a {

    background-color: #fff;

    padding: 15px 40px;

    border-radius: 50px;

    display: inline-block

}



.tech_exprt_center,

.tech_exprt_left,

.tech_exprt_right {

    text-align: center

}



.wb-panel-avail-box {

    padding: 2rem 0 0

}



.wb-pnl-avl-left .wb-pnl-btn {

    border-radius: 10px;

    padding: 30px;

    background-color: #f8f8ff;

    width: 24%;

    cursor: pointer;

    border: none;
    text-align: center;

}



.wb-pnl-avl-left a.active {

    background-color: #fff !important;

    border: 2px solid #0000FF;

    box-shadow: 0 0 60px #0000001a

}



.wb-pnl-ul {

    padding: 3rem 0 0

}



p.wb-pnl-cnt {

    padding: 20px 0;

    font-weight: 400

}



.wb-pnl-img img {

    max-width: 100%;

    width: 160px

}



.wb-pnl-ul ul li {

    font-weight: 500;

    display: flex;

    align-items: center;

}



.wb-pnl-cnt-icon {

    display: flex;

    align-items: center;

}



span.wb-pnl-cnt-icon i {

    font-size: 18px;

    margin-right: 10px;

    color: #0000FF

}



.tech_exprt_right a {

    font-size: 18px;

    font-weight: 500;

    color: #28282a

}



.tech_exprt_right a:hover {

    color: #28282a

}



.tech_exprt_right .plan-price {

    font-size: 18px;

    font-weight: 700;

    color: #28282a

}



.tech_exprt_right .plan-mo {

    font-size: 14px;

    font-weight: 500;

    color: #28282a

}



thead.head_top-tbl tr th {

    background-color: #3838ff !important;

    color: #fff;

    font-size: 16px;

    font-weight: 600;

    vertical-align: middle

}



.manage-vps-comp-table {

    background-color: #fff;

    box-shadow: 0 0 60px #0000001a;

    padding: 30px;

    border-radius: 20px

}



.manage-vps-comp-table table td,

.manage-vps-comp-table table th {

    font-size: 16px;

    font-weight: 500;

    color: #28282a;

    border: none;

    padding: 20px;

    vertical-align: middle;

    text-transform: capitalize;

}



.manage-vps-comp-table table th {

    background-color: #ecf5ff !important;

    border-right: 1px solid #D2E0EF;

}



.manage-vps-comp-table table td {

    background-color: #fff !important;

    text-align: center;

    border-right: 1px solid #D2E0EF;

}



.manage-vps-comp-table table tr:first-of-type td {

    background-color: inherit

}



.manage-vps-comp-table i {

    font-size: 18px;

    font-weight: 600

}



.manage-vps-comp-table i.fa-check {

    color: #18b362

}



.manage-vps-comp-table i.fa-xmark {

    color: #d32a2d

}



.sup_vps_box_cnt h3,

tbody.vps-hstg-prv-body th {

    font-size: 16px;

    font-weight: 600;

    color: #28282a

}



.vps_feature_icon_Backup_Solution,

.vps_feature_icon_Enhanced_Level_Security,

.vps_feature_icon_Free_SSL_Certificate,

.vps_feature_icon_Instant_Setup,

.vps_feature_icon_Latest_Server_Processor,

.vps_feature_icon_Live_migration,

.vps_feature_icon_Network,

.vps_feature_icon_No_Overselling,

.vps_feature_icon_Optimized_Storage,

.vps_feature_icon_Powerful_Scalable,

.vps_feature_icon_SSD_Processing,

.vps_feature_icon_SSH_SFTP_Access,

.Complies_With_Industry_Standards {

    height: 90px;

    max-width: 100%;

    margin: auto;

    width: 100%;

    background-position: center;

    background-repeat: no-repeat;

    display: block

}



.vps_feature_icon_Instant_Setup {

    background-image: url(../images/vps_hosting/Instant_Setup_icon.svg)

}



.vps_feature_icon_Backup_Solution {

    background-image: url(../images/vps_hosting/Backup_Solution_icon.svg)

}



.vps_feature_icon_SSD_Processing {

    background-image: url(../images/vps_hosting/SSD_Processing_icon.svg)

}



.vps_feature_icon_No_Overselling {

    background-image: url(../images/vps_hosting/No_Overselling_icon.svg)

}



.vps_feature_icon_Live_migration {

    background-image: url(../images/vps_hosting/Live_Migration_icon.svg)

}



.vps_feature_icon_Network {

    background-image: url(../images/vps_hosting/Network_icon.svg)

}



.vps_feature_icon_Free_SSL_Certificate {

    background-image: url(../images/vps_hosting/Free_SSL_Certificate_icon.svg)

}



.vps_feature_icon_SSH_SFTP_Access {

    background-image: url(../images/vps_hosting/SSHSFTP_Access_icon.svg)

}



.vps_feature_icon_Latest_Server_Processor {

    background-image: url(../images/vps_hosting/Latest_Server_Processor_icon.svg)

}



.vps_feature_icon_Powerful_Scalable {

    background-image: url(../images/vps_hosting/Powerful_Scalable_icon.svg)

}



.vps_feature_icon_Enhanced_Level_Security {

    background-image: url(../images/vps_hosting/Enhanced_Level_Security_icon.svg)

}



.vps_feature_icon_Optimized_Storage {

    background-image: url(../images/vps_hosting/Optimized_Storage_icon.svg)

}

.Complies_With_Industry_Standards {
    background-image: url(/assets/images/windows_vps_hosting/Complies_With_Industry_Standards.svg);
}


.vps-features .features-main .features-start .content-main .feature-icon {

    height: auto

}



tbody.vps-hstg-prv-body td {

    font-size: 16px;

    font-weight: 400;

    color: #28282a;

    text-align: center;

    padding: 18px 10px;

    border-top: none;

    border-bottom: none

}



tbody.vps-hstg-prv-body td,

tbody.vps-hstg-prv-body th {

    background: #fff !important;

    vertical-align: middle

}



tbody.vps-hstg-prv-body tr td:nth-of-type(2) {

    background: #dff1ff !important;

    font-weight: 600;

    font-size: 18px

}



thead.vps-hstg-tbl-head tr th:nth-of-type(2) {

    background-color: #dff1ff !important

}



thead.vps-hstg-tbl-head tr th {

    background-color: #f2f2f2 !important;

    text-align: center;

    vertical-align: middle;

    border-top: none;

    border-bottom: none

}



.vps_hstg_prv_table.table-responsive {

    background-color: #fff;

    padding: 40px;

    box-shadow: 0 0 60px #0000001a;

    border-radius: 20px

}



.vps_hstg_prv_table.table-responsive table {

    margin-bottom: 0

}



tbody.vps-hstg-prv-body tr td:first-of-type {

    font-weight: 500

}



.vps_hstg_prv_table.table-responsive table tr:first-of-type td {

    font-weight: 600

}



.plan-cut-price .offer-discount {

    background-color: #f1f1ff;

    padding: 5px 15px;

    font-weight: 600;

    font-size: 16px;

    color: #ff0000;

    border-radius: 7px

}



.vps_managed_btn,

.vps_managed_btn:hover {

    background-color: #004898

}



.vps_managed_btn {

    border-radius: 8px;

    width: 80%;

    padding: 14px

}



.linux_vps_plan .container,

.web_panel_avail_main .container {

    max-width: 1241px

}



.plan-price-r-icon {

    font-size: 24px;

    font-weight: 500

}

.accordion-header{

    position: relative;

}

@media only screen and (min-width:1650px) {

    .linux_vps_plan .container,

    .web_panel_avail_main .container {

        max-width: 1341px

    }

}



@media only screen and (max-width:1366px) {

    .sup_vps_box_cnt h3,

    .tech_exprt_right a {

        font-size: 14px

    }

    .wb-panel-avail-box {

        padding: 0 4rem

    }

}



@media only screen and (max-width:1199px) {

    .sup_vps_box_cnt {

        padding: 25px 0px !important;

    }

}



@media only screen and (max-width:1099px) {

    .manage-vps-comp-table table td,

    .manage-vps-comp-table table th {

        font-size: 14px !important;

        padding: 15px

    }

    .tech_exprt_center h1 {

        font-size: 20px

    }

    .tech_exprt_center p {

        font-size: 14px

    }

    .wb-pnl-ul {

        padding: 1rem

    }

    .wb-panel-avail-box {

        padding: 0

    }

    .vps-plan-desc {

        padding: 0 10px

    }

}



@media only screen and (max-width:992px) {

    .tech_exprt_center p {

        margin-bottom: 20px

    }

    .wb-pnl-ul ul li,

    p.wb-pnl-cnt {

        font-size: 16px

    }

}



@media only screen and (max-width:768px) {

    .tech_exprt_center h1 {

        font-size: 18px;

        margin-top: 30px

    }

    .sup-vps-hstg-main,

    .tech_exprt_main,

    .vps_hosting_prov_comp_main {

        padding: 30px 0

    }

    .wb-pnl-ul {

        padding: 1rem

    }

}



@media only screen and (max-width:767px) {

    .section-heading p {

        font-size: 14px !important

    }

    .wb-pnl-avl-left .wb-pnl-btn {

        padding: 10px;

    }

    .wb-pnl-ul {

        padding: 1rem 0

    }

    .wb-pnl-ul ul li,

    p.wb-pnl-cnt {

        font-size: 14px

    }

    .manage-vps-comp-table {

        padding: 15px

    }

    .manage-vps-comp-table table td,

    .manage-vps-comp-table table th {

        font-size: 12px !important;

        padding: 12px

    }

    .sup_vps_box_cnt {

        padding: 25px 0

    }

    .section-heading {

        padding: 10px !important;

        margin: 0 !important

    }

    .vps_hstg_prv_table.table-responsive {

        padding: 18px

    }

    span.wb-pnl-cnt-icon i {

        font-size: 14px;

        margin-top: 5px

    }

    .banner_left_s h2 {

        font-size: 24px

    }

    .wb-pnl-avl-left .nav {

        flex-direction: row !important

    }

}



@media only screen and (max-width:360px) {

    .tech_exprt_right a {

        font-size: 12px

    }

}



.sup_vps_box_cnt {

    text-align: center;

    box-shadow: 0 3px 6px #00000029;

    border: 1px solid #7EC8E3;

    border-radius: 12px;

    background: #fff;

    padding: 25px 20px;

    transition: .6s;

    margin: 15px 0

}



.sup_vps_box_cnt:hover {

    transform: scale(1.1)

}



.win-vps-pd-40 {

    padding: 40px 0

}



.sec-dt-acr-price {

    display: flex;

    align-items: baseline

}



.sec-dt-prc-one {

    font-size: 20px;

    font-weight: 600;

    color: #28282a

}



.sec-dt-prc-two {

    font-size: 36px;

    font-weight: 700;

    color: #000C66;

    margin-left: 10px

}



.sec-dt-prc-two span {

    display: block;

    text-align: center;

    font-size: 14px;

    color: #28282a;

}



@media only screen and (max-width:1600px) {

    .wb-pnl-avl-left .wb-pnl-btn {

        font-size: 16px

    }

}



@media only screen and (max-width:1099px) {

    .sup_vps_box_cnt {

        padding: 25px 0

    }

}



@media only screen and (max-width:992px) {

    .sec-dt-acr-bkp .row,

    .self-managed-vps-assist .row {

        display: flex;

        flex-direction: column-reverse

    }

    .win-vps-pd-40 {

        padding: 20px 0

    }

    .power-card-tittle h2 {

        font-size: 20px !important

    }

    .support-sec-box p {

        font-size: 14px

    }

    .support-sec-box {

        margin-top: 40px

    }

    .sec-dt-acr-price {

        margin-bottom: 40px

    }

}