.dedicated-plan-main-div .dedicated-head .nav-server-location li{display:inline-block!important;float:none!important;margin:0}.dedicated-plan-main-div .dedicated-head .nav-server-location,.dedicated-plan-main-div .dedicated-head .nav-server-location li a{background:0 0!important}.dedicated-plan-main-div .dedicated-head .nav-server-location .hosting-location-icon{width:50px;height:50px;border-radius:30px;background-position:center;background-repeat:no-repeat;background-size:cover;display:table}.dedicated-plan-main-div .dedicated-head .nav-server-location li a:before,.vps_main .vps-page-new-desg .nav-vps-hosting li a.active:before{display:none}.dedicated-plan-main-div .dedicated-head .nav-server-location .switch,.switch.monthly-checkbox-label{width:80px;height:30px;margin:0 14px 10px}.dedicated-plan-main-div .dedicated-head .nav-server-location .switch .slider,.dedicated-plan-main-div .dedicated-head .nav-server-location .switch input:checked+.slider{background-color:#115baa}.dedicated-plan-main-div .dedicated-head .nav-server-location .switch .slider:before,.switch.monthly-checkbox-label .slider:before{height:23px;width:23px}.dedicated-plan-main-div .dedicated-head .nav-server-location .switch input:checked+.slider:before,.switch.monthly-checkbox-label input:checked+.slider:before{-webkit-transform:translateX(50px);-khtml-transform:translateX(50px);-moz-transform:translateX(50px);-ms-transform:translateX(50px);-o-transform:translateX(50px);transform:translateX(50px)}.vps_main .vps-page-new-desg .nav-vps-hosting li a{text-transform:uppercase;-webkit-transform:scale(1);-khtml-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);font-size:15px;font-weight:600;line-height:24px;display:inline-block;border:none!important;border-right:none;color:#6f6e6e;background:#e9e9e9;transition:.2s linear;padding:10px 30px}.vps_main .vps-page-new-desg .nav-vps-hosting li a.active{border-color:transparent!important;border-right:none!important;transform:scale(1);box-shadow:none;background:#115baa;color:#fff;position:relative;z-index:1;padding:10px 30px}.vps_main .vps-page-new-desg .tab-content .vps-plan-div:hover{background-color:#115baa;transform:translateY(0);box-shadow:none}.vps_main .vps-page-new-desg .tab-content .vps-plan-div:hover .plan-head,.vps_main .vps-page-new-desg .tab-content .vps-plan-div:hover .price-grey,.vps_main .vps-page-new-desg .tab-content .vps-plan-div:hover .v-f_link a,.vps_main .vps-page-new-desg .tab-content .vps-plan-div:hover .vps-plan-features li,.vps_main .vps-page-new-desg .tab-content .vps-plan-div:hover .vps-plan-features li:before,.vps_main .vps-page-new-desg .tab-content .vps-plan-div:hover .vps-price{color:#fff}.vps_main .vps-page-new-desg .tab-content .vps-plan-div:hover .v-f_link a i{color:#115baa;background:#fff;border:1px solid #fff}.vnc-des,.vnc-des-two{min-height:180px;border-radius:6px;display:grid;align-content:center}.vps_main .vps-page-new-desg .tab-content .vps-plan-div:hover .vps-plan-btm .btn-primary{background:#fff;color:#115baa}.vps_main .vps-page-new-desg .nav-vps-hosting.nav-vps-hosting-wl li{background:#fff}.vps_main .vps-page-new-desg .nav-vps-hosting.nav-vps-hosting-wl li a{background:#fff;padding:10px 70px}.vps_main .vps-page-new-desg .nav-vps-hosting.nav-vps-hosting-wl li a.active{border-radius:30px;background:#115baa;padding:10px 70px}.vps_main .vps-page-new-desg .nav-vps-hosting.nav-vps-hosting-wl li:first-child a,.vps_main .vps-page-new-desg .nav-vps-hosting.nav-vps-hosting-wl li:nth-child(2) a{border-radius:30px!important}.vps_main .vps-page-new-desg .nav-vps-hosting.nav-vps-hosting-wl li:first-child{border-bottom-left-radius:30px!important;border-top-left-radius:30px!important}.vps_main .vps-page-new-desg .nav-vps-hosting.nav-vps-hosting-wl li:nth-child(2){border-bottom-right-radius:30px!important;border-top-right-radius:30px!important}.vps_main .vps-page-new-desg .nav-vps-hosting.nav-vps-hosting-wl li a.active span.window-icon{height:30px;display:inline-block;position:absolute!important;vertical-align:middle;background-image:url(../images/window-sprint.png);background-position:0 -46px;background-repeat:no-repeat;top:6px!important;left:0!important;animation:none!important}.vps_main .vps-page-new-desg .nav-vps-hosting.nav-vps-hosting-wl li a span.window-icon{background-position:0 -13px;height:30px;display:inline-block;position:absolute!important;vertical-align:middle;background-image:url(../images/window-sprint.png);background-repeat:no-repeat;top:6px!important;left:0!important;animation:none!important}.vps_main .vps-page-new-desg .nav-vps-hosting.nav-vps-hosting-wl li a span.linux-icon,.vps_main .vps-page-new-desg .nav-vps-hosting.nav-vps-hosting-wl li a.active span.linux-icon{height:30px;display:inline-block;position:absolute!important;vertical-align:middle;background-image:url(../images/linux-sprint.png);background-repeat:no-repeat;top:6px!important;left:0!important;animation:none!important}.vps_main .vps-page-new-desg .nav-vps-hosting.nav-vps-hosting-wl li a.active span.linux-icon{background-position:0 -49px}.vps_main .vps-page-new-desg .nav-vps-hosting.nav-vps-hosting-wl li a span.linux-icon{background-position:0 -10px}.vps_main .vps-page-new-desg .tab-content .vps-plan-div.recommanded .plan-head{font-size:24px;color:#115baa;padding:60px 10px 20px}.vps-page-new-desg .nav-vps-hosting li{background-color:#e9e9e9}.vps-page-new-desg .nav-vps-hosting li:first-child{border-bottom-left-radius:30px;border-top-left-radius:30px}.vps-page-new-desg .nav-vps-hosting li:nth-child(3){border-bottom-right-radius:30px;border-top-right-radius:30px}.vps_main .vps-page-new-desg .tab-content .vps-plan-div:hover.recommanded .plan-head{color:#fff}.vps_main .vps-page-new-desg .tab-content .plan-head{border-bottom:none!important;min-height:120px;line-height:30px;padding:60px 10px 20px}.vps_main .vps-page-new-desg .tab-content .vps-plan-div.recommanded .vps-price strong{font-size:40px}.vps_main .vps-page-new-desg .tab-content .vps-plan-div.recommanded .sub-title,.vps_main .vps-page-new-desg .tab-content .vps-plan-div.recommanded .vps-price{color:#115baa}.vps_main .vps-page-new-desg .tab-content .vps-plan-div:hover.recommanded .sub-title,.vps_main .vps-page-new-desg .tab-content .vps-plan-div:hover.recommanded .vps-price{color:#fff}.vps_main .vps-page-new-desg .tab-content .vps-plan-div.recommanded .price-grey{font-size:17px}.vps_main .vps-page-new-desg .tab-content .vps-plan-div.recommanded .btn-primary{background:#115baa}.vps_main .vps-page-new-desg .tab-content .vps-plan-div.recommanded .price-save{font-size:18px}.vps_main .vps-page-new-desg .tab-content .vps-plan-div.recommanded .vps-plan-btm{margin:13px 0}.vps_main .vps-page-new-desg{padding:50px 0}.vps_main .vps-page-new-desg .tab-content .vps-plan-div{border-radius:6px!important;box-shadow:none!important}.vps_main .vps-page-new-desg ul.nav.nav-pills.nav-vps-hosting.nav-vps-hosting-wl{position:relative;top:0;padding-bottom:30px;justify-content:center}.vps_main .vps-page-new-desg .tab-content .vps-plan-features li{color:#115baa;font-size:14px;font-weight:400;position:relative;padding-left:75px;margin:8px 0}.vps_main .vps-page-new-desg .tab-content .vps-plan-features li:before{content:"\f17b";font:bolder 12px/1 LineAwesome;position:absolute;left:55px;top:8px;color:#35b35b}.vps_main .vps-page-new-desg .tab-content .price-save{color:#fff;background:red;text-transform:uppercase;font-weight:700;border-radius:30px;font-size:18px;padding:5px 10px;margin-left:3px}.vps_main .vps-page-new-desg .tab-content .price-grey{color:#333;font-size:17px;font-weight:500;margin-left:5px;display:inline-flex}.vps-new-img img{max-width:100%}.vps-new-description .big_title{text-align:left!important}.vnc-des{margin:0 0 15px;padding:15px 30px;text-align:center;background:#fff}.aws-content .aws-managed-services .aws-para .vnc-des:hover,.vnc-des-two:hover{background:#17b35b}.vnc-des .vnc-des-image-one,.vnc-des .vnc-des-image-two{width:40px;height:40px;margin:auto;background-image:url(../images/aws-content-vps-new-sprint.png)}.aws-content .aws-managed-services .aws-para .vnc-des:hover p,.aws-content .aws-managed-services h2.vps-new-txtclr,.vnc-des-two:hover p{color:#fff!important}.aws-content .aws-managed-services .aws-para .vnc-des p,.vnc-des-two p{font-size:18px!important;font-weight:400;color:#333!important}.aws-content-vps-new{background-image:url(../images/best-seller.jpg);background-position:left;background-size:cover;padding-left:180px}.aws-content-vps-new-two{background-image:url(../images/best-seller-two.jpg);background-position:center}.vnc-des-two{background:#fff;text-align:center;padding:20px 30px;margin-bottom:20px}.vnc-des .vnc-des-image-one{background-position:-12px -15px}.vnc-des:hover .vnc-des-image-one{background-position:-12px -65px}.vnc-des .vnc-des-image-two{background-position:-62px -15px}.vnc-des:hover .vnc-des-image-two{background-position:-62px -65px}.vnc-des .vnc-des-image-three{width:44px;height:44px;margin:auto;background-image:url(../images/aws-content-vps-new-sprint.png);background-position:-110px -11px}.vnc-des .vnc-des-image-eight,.vnc-des .vnc-des-image-five,.vnc-des .vnc-des-image-four,.vnc-des .vnc-des-image-seven,.vnc-des .vnc-des-image-six{width:40px;height:40px;background-image:url(../images/aws-content-vps-new-sprint.png);margin:auto}.vnc-des:hover .vnc-des-image-three{background-position:-110px -65px}.vnc-des .vnc-des-image-four{background-position:-157px -15px}.vnc-des:hover .vnc-des-image-four{background-position:-157px -65px}.vnc-des .vnc-des-image-five{background-position:-200px -15px}.vnc-des:hover .vnc-des-image-five{background-position:-200px -65px}.vnc-des .vnc-des-image-six{background-position:-250px -15px}.vnc-des:hover .vnc-des-image-six{background-position:-250px -66px}.vnc-des .vnc-des-image-seven{background-position:-295px -15px}.vnc-des:hover .vnc-des-image-seven{background-position:-295px -65px}.vnc-des .vnc-des-image-eight{background-position:-336px -15px}.vnc-des:hover .vnc-des-image-eight{background-position:-336px -65px}.vpsplan_slider_div.dedicated-plan-main-div.vps-page-new-desg .tab-content button.owl-prev{left:70px;background:#35b35b!important;border-radius:30px!important;width:50px;height:50px;z-index:3}.vpsplan_slider_div.dedicated-plan-main-div.vps-page-new-desg .tab-content button.owl-next{right:-10px;background:#35b35b!important;border-radius:30px!important;width:50px;height:50px;z-index:3}.vps_main .vps-page-new-desg .tab-content.tab-content-new-desg .vps-plan-div:hover .more-features,.vpsplan_slider_div.dedicated-plan-main-div.vps-page-new-desg .tab-content .owl-next i.fa.fa-caret-right,.vpsplan_slider_div.dedicated-plan-main-div.vps-page-new-desg .tab-content .owl-prev i.fa.fa-caret-left{color:#fff}.vpsplan_slider_div.dedicated-plan-main-div.vps-page-new-desg .tab-content .owl-stage-outer.stage-ovrflw{overflow:inherit}.vpsplan_slider_div.dedicated-plan-main-div.vps-page-new-desg .tab-content.tab-content-new-desg{position:relative;width:100%}.vpsplan_slider_div.dedicated-plan-main-div.vps-page-new-desg .tab-content.tab-content-new-desg .owl-carousel.owl-theme.owl-loaded.owl-drag.vps-new-desg:before{content:'';position:absolute;width:25vw;height:100%;left:0;top:0;z-index:2;background:-webkit-gradient(linear,right top,left top,from(rgba(245,246,255,0)),color-stop(80%,#f6f6f6));background:linear-gradient(270deg,rgba(245,246,255,0) 0,#f6f6f6 80%)}.vpsplan_slider_div.dedicated-plan-main-div.vps-page-new-desg .tab-content.tab-content-new-desg .owl-carousel.owl-theme.owl-loaded.owl-drag.vps-new-desg:after{content:'';position:absolute;width:25vw;height:100%;right:0;top:0;z-index:1;background:-webkit-gradient(linear,right top,left top,from(rgba(245,246,255,0)),color-stop(80%,#f6f6f6));background:linear-gradient(270deg,rgba(245,246,255,0) 0,#f6f6f6 80%);-webkit-transform:rotate(-180deg);transform:rotate(-180deg)}.vps_main .tab-content .vps-plan-div.recommanded .plan-head .recommanded-icon{background:url(../images/sprite-image.png) -500px -173px no-repeat;width:102px;height:80px;left:0;right:0;top:-35px;margin:0 auto}.vps_main .vps-page-new-desg .tab-content.tab-content-new-desg .vps-plan-div .more-features{color:#35b35b;text-align:center;padding-left:0}.aws-content .aws-managed-services .aws-para p{text-align:center!important}.vps-page-new-desg .switch-plan{margin:0 auto 15px}.vps_main .vps-page-new-desg .nav-vps-hosting{padding-bottom:30px}.vps-page-new-desg .text{font-size:18px;font-weight:500;text-align:center;margin-bottom:30px;padding:0 20px}@media (max-width:1366px){.vps_main .vps-page-new-desg .tab-content .vps-plan-features li:before{left:40px}.vps_main .vps-page-new-desg .tab-content .vps-plan-features li{padding-left:60px}}@media (max-width:1360px){.vps-page-new-desg .text{font-size:16px;width:auto;margin-left:0;padding:0}}@media (max-width:1024px){.vpsplan_slider_div.dedicated-plan-main-div.vps-page-new-desg .tab-content.tab-content-new-desg .owl-carousel.owl-theme.owl-loaded.owl-drag.vps-new-desg:before{left:-30px}.vpsplan_slider_div.dedicated-plan-main-div.vps-page-new-desg .tab-content.tab-content-new-desg .owl-carousel.owl-theme.owl-loaded.owl-drag.vps-new-desg:after{right:-30px}.aws-content.aws-content-vps-new .aws-managed-services{padding-bottom:10px!important}}@media (max-width:767px){.vpsplan_slider_div.dedicated-plan-main-div.vps-page-new-desg .tab-content.tab-content-new-desg .owl-carousel.owl-theme.owl-loaded.owl-drag.vps-new-desg:after,.vpsplan_slider_div.dedicated-plan-main-div.vps-page-new-desg .tab-content.tab-content-new-desg .owl-carousel.owl-theme.owl-loaded.owl-drag.vps-new-desg:before{display:none}.vps_main .vps-page-new-desg .tab-content.tab-content-new-desg .price-overline-text,.vps_main .vps-page-new-desg .tab-content.tab-content-new-desg .vps-price{float:none!important}.vps_main .tab-content .vps-plan-div{margin-top:40px!important}.vps_main .tab-content .vps-price strong{font-size:40px!important}}@media (max-width:560px){.vps_main .vps-page-new-desg .nav-vps-hosting li a,.vps_main .vps-page-new-desg .nav-vps-hosting li a.active{padding:10px 20px}.vps_main .vps-page-new-desg .nav-vps-hosting.nav-vps-hosting-wl li a{padding:10px 40px!important}.vps_main .vps-page-new-desg .nav-vps-hosting.nav-vps-hosting-wl li a span.linux-icon,.vps_main .vps-page-new-desg .nav-vps-hosting.nav-vps-hosting-wl li a span.window-icon,.vps_main .vps-page-new-desg .nav-vps-hosting.nav-vps-hosting-wl li a.active span.linux-icon,.vps_main .vps-page-new-desg .nav-vps-hosting.nav-vps-hosting-wl li a.active span.window-icon{left:-15px!important}.vps_main .vps-page-new-desg ul.nav.nav-pills.nav-vps-hosting.nav-vps-hosting-wl{top:0}.vnc-des p,.vps-new-description .big_title,.vps-new-description p{text-align:center!important}.aws-content-vps-new{background-image:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url(../images/best-seller-mobile.jpg);background-position:top;background-size:cover;padding-left:0}.aws-content .aws-managed-services h2{padding-bottom:10px;font-size:18px}}@media (max-width:360px){.aws-content .aws-managed-services h2{font-size:15px}}.switch.monthly-checkbox-label .slider.round,.switch.monthly-checkbox-label input:checked+.slider{background-color:#185baa}.vps_main .tab-content .v-f_link a i{color:#fff;width:18px;height:18px;border-radius:0!important;border:1px solid #f60002;font-size:14px;line-height:120%;display:block;margin:auto;background-color:#f60002}.vps_main .tab-content .v-f_link a{letter-spacing:.48px;color:#f60002;font-weight:500!important}

.tsrt-box {
    background-color: #fff6e9;
  
    padding: 30px;
  
    border-radius: 10px;
  }
  
  .tsrt-box-icon-f {
    background-color: #fff;
  
    border-radius: 50px;
  
    font-weight: 400;
  
    font-size: 24px;
  
    height: 60px;
  
    width: 60px;
  
    display: flex;
  
    justify-content: center;
  
    align-items: center;
  }
  
  .tsrt-box-1 .tsrt-box-icon-f {
    color: #3838ff;
  }
  
  .tsrt-box-2 .tsrt-box-icon-f {
    color: #000c66;
  }
  
  .tsrt-box-3 .tsrt-box-icon-f {
    color: #3838ff;
  }
  
  .tsrt-box-4 .tsrt-box-icon-f {
    color: #050a30;
  }
  
  .tsrt-box-title {
    font-size: 20px;
  
    font-weight: 500;
  
    margin: 10px 0;
    color: #080808;
  }
  
  .tsrt-box-p {
    font-size: 14px;
  
    font-weight: 400;
  
    color: #080808;
  }
  
  .tsrt-box-icon-b {
    color: #fff;
  
    display: inline-block;
  
    padding: 5px 10px;
  
    border-radius: 40px;
  
    transform: rotate(-45deg);
  
    margin-top: 10px;
  }
  
  .tsrt-box-1 .tsrt-box-icon-b {
    background-color: #3838ff;
  }
  
  .tsrt-box-2 .tsrt-box-icon-b {
    background-color: #000c66;
  }
  
  .tsrt-box-3 .tsrt-box-icon-b {
    background-color: #3838ff;
  }
  
  .tsrt-box-4 .tsrt-box-icon-b {
    background-color: #050a30;
  }
  
  .tsrt-box-1 {
    background-color: #fff6e9;
  }
  
  .tsrt-box-2 {
    background-color: #ebfff4;
  }
  
  .tsrt-box-3 {
    background-color: #ffefef;
  }
  
  .tsrt-box-4 {
    background-color: #f2f3ff;
  }
  

  @media only screen and (max-width: 992px) {
    .tsrt-box {
        margin: 10px 0;
    }
}




.VPS-OS-main{

    background: #4236FC;

    background: linear-gradient(90deg, rgba(66, 54, 252, 1) 0%, rgba(107, 102, 255, 1) 47%, rgba(58, 51, 255, 1) 100%); 

    display: flex;

    justify-content: center;

}

.VPS-OS-bx{

  display: flex;

  justify-content: center;

  align-items: center;

}

.VPS-OS-bx svg{

  max-width: 800px;

}

.vps-os-title {
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    line-height: 40px;
    margin-bottom: 30px;
}
.vps-os-dt {
    color: #e8e8ff;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

#Group_172993 {

  /* width: 10px;

  height: 10px;

  background-color: red;

  border-radius: 50%; */

  /* transform: translate(260px, 80px); */

  animation: red-ball 1s linear infinite;

  transition: 0.6s;

}



@keyframes red-ball {

  from {

    transform: translate(200px, 200px);

  }

  to {

    transform: translate(0px, 0px);

  }

}

#Group_172994-2{

  animation: red-ball2 1s linear infinite;

  transition: 0.6s;

}

@keyframes red-ball2 {

  from {

    transform: translate(-30px, 200px);

  }

  to {

    transform: translate(180px, -15px);

  }

}

#Group_172994-3{

  animation: red-ball3 1s linear infinite;

  transition: 0.6s;

}

@keyframes red-ball3 {

  from {

    transform: translate(200px, -34px);

  }

  to {

    transform: translate(-34px, 200px);

  }

}

#Group_172994-4{

  animation: red-ball4 1s linear infinite;

  transition: 0.6s;

}

@keyframes red-ball4 {

   from {

    transform: translate(0px, 0px);

  }

  to {

    transform: translate(200px, 200px);

  }

}