

.cstmr-rtg-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.hm-bnnr-cstmr-rtg {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding: 60px 0 40px
}

.cst-rtg-star img {
    max-width: 25px;
    margin: 12px 0
}

.cst-rtg-data p {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .4px;
    color: #28282a
}




.web_hosting_bnnr {
    padding: 0 4rem;
    background-color: #eff3ff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center
}

.banner_left_s h1 {
    font-size: 18px;
    font-weight: 500;
    color: #3838ff;
    text-align: left;
    background: #ffffff;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
}

.banner_left_s h2 {
    font-size: 36px;
    font-weight: 700;
    color: #28282a;
    margin: 10px 0 10px;
}

p.banner_data_txt {
    font-size: 18px;
    font-weight: 500;
    color: #28282a
}

.banner-left-s-features {
    margin: 30px 0
}

.banner-left-s-features p,
.banner-pricing-box {
    font-weight: 400;
    color: #28282a;
    font-size: 18px;
}

.banner-left-s-features p {
    margin-bottom: 10px
}

.banner-left-s-features p i {
    margin-right: 10px;
    color: #28282a
}


.price-box-bnr {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.price-box-bnr span {
    font-size: 32px;
    color: #3838ff;
    font-weight: 700;
}


/* new-review-s */
.review-top-main {
    background: #2a5691;
    text-align: center;
}
.review-top-bx {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    padding: 10px 0;
}
.review-star-icon {
    margin: 0 10px;
}
.review-star-icon img {
    margin: 0px 3px;
}

/* new-review-e */

@media only screen and (max-width:1600px) {
    .banner-left-s-features p {
        font-size: 16px;
        margin: 8px 0
    }
    .web_hosting_bnnr {
        padding: 40px 60px
    }
}


@media only screen and (max-width: 1399px) {
    .banner_left_s h2{
        font-size: 28px;
    }
    .bnnr-wbh-right.bnnr-wbh-cstm img{
        width: 450px;
    }
}

@media only screen and (max-width:992px) {
    .bnnr-wbh-right {
        padding-top: 40px
    }
}

@media only screen and (max-width:768px) {
    .web_hosting_bnnr {
        background-position: top
    }
}

@media only screen and (max-width:767px) {
    .home_page_wbh_bnnr {
        padding: 0
    }
    .web_hosting_bnnr {
        padding: 20px
    }
    .cst-rtg-tittle {
        min-height: 40px !important
    }
    .cst-rtg-tittle img {
        width: 100px !important
    }
    .cst-rtg-star img {
        width: 16px !important
    }
    .bnnr-wbh-right {
        display: none
    }
    .hm-bnnr-cstmr-rtg {
        padding: 40px 0 20px
    }
    .banner_left_s h2{
        font-size: 24px;
    }
    .banner_left_s h1 {
        font-size: 18px;
    }
    .banner_left_s h2 {
        margin: 20px 0;
    }
    
    .review-top-main{
        display: none;
    }
}
