.wp-ecom-box span {
    font-size: 20px;
    font-weight: 600;
    color: #28282a;
    margin-bottom: 15px;
    display: block;
}

.wp-ecom-box p {
    font-size: 14px;
    font-weight: 400;
    color: #666;
}

.wp-ecom-box{
    background: #fff;
    box-shadow: 0px 0px 30px #0000000F;
    border-radius: 10px;
    padding: 20px;
    margin: 15px 10px;
}
.g-suite-lists .g_s_l-box {
    margin-bottom: 20px;
}
.g-suite-lists .g-list-box {
    display: inline-block;
    position: relative;
    padding-left: 60px;
}
.list-num {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: #000C66 !important;
    color: #fff !important;
    text-align: center;
    font-size: 20px
}
.g-suite-lists .g-list-title {
    margin: 0 0 10px;
    font-size: 18px;
    color: #4d4d4d;
    font-weight: 500;
}
.g-suite-lists .g-list-box span {
    color: #262626;
    font-weight: 400;
}


.g-apps-ftrs-tbl tr td,
.g-apps-show-more-btn button,
.gapps-pnl-avl-left button {
  background-color: transparent;
  font-weight: 500;
}

.g-apps-features-box {
  background: #f3f9ff;
}

.hs-platform-box,

.pf-online-box {

    text-align: center

}



.smart-wh-cnt ul p,

.wh-control-pnl .section-heading {

    margin-bottom: 20px

}



.hs-platform {

    background-color: #eff7ff

}



.hs-platform-bg {

    background-image: url("/assets/images/web_hosting/Hosting_solution_platform_bg.webp");

    background-position: center;

    background-size: contain;

    background-repeat: no-repeat

}



.hs-platform-box {

    background-color: #fff;


    padding: 30px 20px;

    border-radius: 20px;

    margin-bottom: 40px;

    box-shadow: rgba(99, 99, 99, .2) 0 2px 8px 0

}



.hs-platform-img-round {

    display: inline-block;

    background: #dce2ff;

    border: 7px solid #7EC8E3;

    padding: 7px 7px 0;

    border-radius: 60px;

    width: 80px;

    height: 80px;

    text-align: center;

    align-content: center

}



.hs-platform-tittle {

    font-size: 20px;

    font-weight: 700;

    color: #28282a;

    margin: 20px 0 15px

}



.hs-platform-cnt {

    font-size: 14px;

    font-weight: 400;

    color: #28282a

}



.hs-platform-prc-m {

    font-size: 14px;

    font-weight: 500;

    color: #000C66;

    margin: 15px 0

}



.hs-platform-prc-m span {

    font-size: 18px;

    font-weight: 700;

    color: #000C66;

}



.pf-online-presn-row {

    display: flex;

    justify-content: center

}



.pf-online-presn-box-1 {

    background-color: #ebfbf2;

    padding: 30px 20px

}



.pf-online-presn-box-1 .hs-platform-img-round {

    background: #5eab80;


}



.pf-online-presn-box-2 {

    background-color: #fef0f4;

    padding: 30px 20px

}



.pf-online-presn-box-2 .hs-platform-img-round {

    background: #c7355e;


}



.pf-online-presn-box-3 {

    background-color: #e4f1ff;

    padding: 30px 20px

}



.pf-online-presn-box-3 .hs-platform-img-round {

    background: #2262a7;


}



.pf-online-presn-box-4 {

    background-color: #f2f2fe;

    padding: 30px 20px

}



.pf-online-presn-box-4 .hs-platform-img-round {

    background: #5353d9;


}



.smart-wh-cnt ul li {

    font-size: 20px;

    font-weight: 600;

    color: #000C66

}



.smart-wh-cnt ul p {

    font-size: 14px;

    font-weight: 400;

    color: #28282a

}



.smart-wh-left-col {

    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(216, 216, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 40px

}



button.smart-wh-next-btn,

button.smart-wh-prev-btn {

    background-color: transparent;

    margin: 20px 20px 0 0;

    padding: 0;

    border: none;

}



.smart-wh-left-col,

.smart-wh-right-col {

    display: flex;

    align-items: center;

    justify-content: center;

    flex-direction: column;

    flex: 1

}



.wn-features-ul ul li {

    display: inline-flex;

    width: 48%

}



span.wn-features-cnt-icon {

    font-size: 16px;

    font-weight: 500;

    color: #666;

    position: relative;

    margin-left: 30px

}



span.wn-features-cnt-icon:before {

    position: absolute;

    content: "\f00c";

    color: #28282a;

    font-family: FontAwesome;

    left: -30px

}



span.wn-features-cnt-icon i {

    font-size: 16px;

    margin-right: 5px;

    color: #28282a

}



.wh-control-pnl {

    background-color: #f8f8ff;

    padding: 80px 0

}



.wh-control-panel-box {

    background: #fff;

    box-shadow: 0 0 10px #00000014;

    padding: 40px;

    border-radius: 30px

}



.smart-wh-cnt ul {

    min-height: 380px;

}


.tsrt-box {
    background-color: #fff6e9;
  
    padding: 30px;
  
    border-radius: 10px;
  }
  
  .tsrt-box-icon-f {
    background-color: #fff;
  
    border-radius: 50px;
  
    font-weight: 400;
  
    font-size: 24px;
  
    height: 60px;
  
    width: 60px;
  
    display: flex;
  
    justify-content: center;
  
    align-items: center;
  }
  
  .tsrt-box-1 .tsrt-box-icon-f {
    color: #3838ff;
  }
  
  .tsrt-box-2 .tsrt-box-icon-f {
    color: #000c66;
  }
  
  .tsrt-box-3 .tsrt-box-icon-f {
    color: #3838ff;
  }
  
  .tsrt-box-4 .tsrt-box-icon-f {
    color: #050a30;
  }
  
  .tsrt-box-title {
    font-size: 20px;
  
    font-weight: 500;
  
    margin: 10px 0;
    color: #080808;
  }
  
  .tsrt-box-p {
    font-size: 14px;
  
    font-weight: 400;
  
    color: #080808;
  }
  
  .tsrt-box-icon-b {
    color: #fff;
  
    display: inline-block;
  
    padding: 5px 10px;
  
    border-radius: 40px;
  
    transform: rotate(-45deg);
  
    margin-top: 10px;
  }
  
  .tsrt-box-1 .tsrt-box-icon-b {
    background-color: #3838ff;
  }
  
  .tsrt-box-2 .tsrt-box-icon-b {
    background-color: #000c66;
  }
  
  .tsrt-box-3 .tsrt-box-icon-b {
    background-color: #3838ff;
  }
  
  .tsrt-box-4 .tsrt-box-icon-b {
    background-color: #050a30;
  }
  
  .tsrt-box-1 {
    background-color: #fff6e9;
  }
  
  .tsrt-box-2 {
    background-color: #ebfff4;
  }
  
  .tsrt-box-3 {
    background-color: #ffefef;
  }
  
  .tsrt-box-4 {
    background-color: #f2f3ff;
  }
  

  @media only screen and (max-width: 992px) {
    .tsrt-box {
        margin: 10px 0;
    }
}

@media only screen and (max-width:1399px) {

    .hs-platform-cnt {

        font-size: 12px

    }

    .smart-wh-cnt ul {

        min-height: 400px;

    }

}



@media only screen and (max-width:1099px) {

    .wn-features-ul ul li {

        margin: 8px 0

    }

    span.wn-features-cnt-icon {

        font-size: 14px

    }

}



@media only screen and (max-width:992px) {

    .wn-features-ul ul li,

    p.wn-features-cnt {

        font-size: 16px

    }

    .pf-online-box {

        width: 50%

    }

    .pf-online-presn-row {

        flex-wrap: wrap

    }

}



@media only screen and (max-width:767px) {

    .wn-features-ul ul li,

    p.wn-features-cnt {

        font-size: 14px

    }

    span.wn-features-cnt-icon i {

        font-size: 14px;

        margin-top: 5px

    }

    .empower-web-speed,

    .wh-control-pnl {

        padding: 30px 0

    }

    .pf-online-presn-row {

        flex-wrap: wrap

    }

    .smart-wh-left-col,

    .wh-control-panel-box {

        padding: 20px

    }

    .pf-online-box,

    .wb-pnl-ul ul li {

        width: 100%

    }

    .wh-server-location-mo {

        display: block

    }

}