
.cstmr-rtg-main {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column
}
.hm-bnnr-cstmr-rtg {
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction:row;
    padding:60px 0 20px
}
.cst-rtg-star img {
    max-width:25px;
    margin:12px 0
}
.cst-rtg-data p {
    font-size:16px;
    font-weight:500;
    letter-spacing:.4px;
    color:#28282a
}

.windows_vps_bnnr {
    padding:0 4rem;
    background-color:#eff3ff;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    display:flex;
    align-items:center;
    justify-content:center
}
.banner_left_s h1 {
    font-size: 18px;
    font-weight: 500;
    color: #3838ff;
    text-align: left;
    background: #d8e2ff;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
}
.banner_left_s h2 {
    font-size:36px;
    font-weight:700;
    color:#28282a;
    margin:10px 0 10px
}
p.banner_data_txt {
    font-size:18px;
    font-weight:500
}
.banner-left-s-features {
    margin:30px 0
}
.banner-left-features-title {
    font-size:18px;
    color:#303133;
    font-weight:500;
    margin-bottom:25px
}
.banner-left-s-features p,.banner-pricing-box {
    font-weight:400;
}
.banner-left-s-features p {
    font-size:18px;
    margin-bottom:10px;
    color:#000
}
.banner-left-s-features p i {
    margin-right:10px;
    font-size:20px;
    color:#115baa
}
.banner-pricing-box {
    margin:10px 0;
    font-size:18px;
    color:#28282a
}
.banner-pricing-box span.price {
    font-size:55px;
    color:#115baa;
    font-weight:700
}
.banner-pricing-box span.r-icon {
    font-size:22px;
    color:#115baa;
    font-weight:600
}
.banner-pricing-box span.free-offer {
    font-weight:600;
    color:#28282a
}
.banner-left-s-features p span {
    font-size:18px;
    font-weight:900;
    color:#28282a
}
p.banner-tooltip .free_domain_bnner_tltp {
    font-weight:700!important
}
p.banner-tooltip {
    position:relative
}
.free_domain_bnner_tltp {
    z-index:1;
    cursor:pointer;
    color:#000!important;
    font-weight:600!important;
    display:inline-block;
    position:relative
}
span.domain_tooltip_bnnr {
    position:absolute;
    background:#444;
    color:#fff;
    font-size:14px!important;
    padding:15px 20px;
    text-align:center;
    bottom:30px;
    border-radius:10px;
    margin:auto;
    visibility:hidden;
    height:auto;
    font-weight:400!important;
    left:-20px;
    z-index:1;
    width:580px
}
.free_domain_bnner_tltp:hover span.domain_tooltip_bnnr {
    visibility:visible;
    color:#fff!important
}
span.domain-tltp-price {
    color:#fff!important;
    display:block;
    font-size:16px!important;
    font-weight:700!important
}


/* new-review-s */
.review-top-main {
    background: #2a5691;
    text-align: center;
}
.review-top-bx {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    padding: 10px 0;
}
.review-star-icon {
    margin: 0 10px;
}
.review-star-icon img {
    margin: 0px 3px;
}

/* new-review-e */
@media only screen and (max-width:1600px) {
    .banner-left-s-features p {
        font-size:16px;
        margin:8px 0
    }
    .banner-left-s-features p span,.banner-pricing-box {
        font-size:16px
    }
    .banner-pricing-box span.price {
        font-size:40px;
        font-weight:800
    }
    .windows_vps_bnnr {
        padding:40px 60px
    }
}

@media only screen and (max-width:992px) {
    .banner-black-friday-offer-23-hp-main {
        padding:3rem 4rem
    }
    .bnnr-wbh-right {
        padding-top:40px
    }
}
@media only screen and (max-width:768px) {
    .windows_vps_bnnr {
        background-position:top
    }
    span.domain_tooltip_bnnr {
        width:280px;
        font-size:12px!important;
        top:30px;
        bottom:inherit
    }
    .banner_left_s h1, p.banner_data_txt{
        font-size: 16px;
    }
    .banner_left_s h2{
        font-size: 28px;
    }
    .banner-left-s-features{
        margin: 10px 0 20px;
    }
}
@media only screen and (max-width:767px) {
    .home_page_wbh_bnnr {
        padding:0
    }
    .windows_vps_bnnr {
        padding:40px 10px;
    }
    .cst-rtg-tittle {
        min-height:40px!important
    }
    .cst-rtg-tittle img {
        width:100px!important
    }
    .cst-rtg-star img {
        width:16px!important
    }
    .bnnr-wbh-right {
        display:none
    }
    .hm-bnnr-cstmr-rtg {
        padding:40px 0 20px
    }
    
    .review-top-main{
        display: none;
    }
}