* {
  box-sizing: border-box;
}


.win-supprt-tittle {
    font-size: 28px;
    font-weight: 600;
    color: #080808;
    margin-bottom: 10px;
}
.win-supprt-txt{
    font-size: 16px;
    font-weight: 400;
    color: #080808;
}


.why-dvlp-busi {

  padding: 50px 0;

}

.why-dvlp-busi .why-dvlp-img {

  position: sticky;

  top: 116px;

  max-width: 609px;

}

.why-dvlp-busi .service-cards ul {

  list-style: none;

  padding: 0;

  margin: 0;

  position: relative;

}

.why-dvlp-busi .service-cards ul li:nth-child(1) {

  top: 116px;

}

.why-dvlp-busi .service-cards ul li:nth-child(2) {

  top: 132px;

}

.why-dvlp-busi .service-cards ul li:nth-child(3) {

  top: 148px;

}

.why-dvlp-busi .service-cards ul li:nth-child(4) {

  top: 164px;

}

.why-dvlp-busi .service-cards ul li:nth-child(5) {

  top: 180px;

}

.why-dvlp-busi .service-cards ul li:nth-child(6) {

  top: 200px;

}


.why-dvlp-busi .service-cards ul li {

  padding: 30px;

  box-shadow: 0px -4px 6px -3px rgba(151, 151, 151, 0.2),

    0px 4px 6px rgba(140, 140, 140, 0.2);

  position: sticky;

  margin-bottom: 30px;

  background: #fff;

  z-index: 1;

  border-radius: 10px;

  -webkit-border-radius: 10px;

  -moz-border-radius: 10px;

}

.why-dvlp-busi .service-cards ul li .service-title {

  display: flex;

  align-items: center;

  padding-bottom: 20px;

}

.service-tittle h3 {
    font-size: 20px;
    font-weight: 600;
    color: #080808;
}
.why-dvlp-busi .service-cards ul li{
    font-size: 16px;
    font-weight: 400;
    color: #080808;
}


.why-dvlp-busi .service-cards ul li p {

  margin: 0;

}







.hosting-features-icon{
    width: 56px;
    height: 56px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    transition: all .3s ease-in-out;
    transition-duration: .8s;
    margin: 0 auto;
}

.hosting-features-icon.users {
    background-position: -1262px 0;
    background-image: url(../images/hosting-features-sprite-image.png);
}
.hosting-features-icon.cpanel {
    background-image: url(../images/windows_hosting/plesk.webp);

}
.hosting-features-icon.email {
    background-image: url(../images/windows_hosting/business_email.webp);

}
.hosting-features-icon.click-script {
    background-image: url(../images/windows_hosting/1_click_script.webp);

}
.hosting-features-icon.ssl {
    background-image: url(../images/windows_hosting/ssl_certificate.webp);

}
.hosting-features-icon.migration {
    background-image: url(../images/windows_hosting/website_migration.webp);
}
.hosting-features-icon.intershield {
    background-image: url(../images/windows_hosting/intershield_protection.webp);
}
.hosting-features-icon.IIS-SUPPORT {
    background-image: url(../images/windows_hosting/support.webp);
}
.hosting-features-icon.latest-versions{
    background-image: url(../images/windows_hosting/latest_versions.webp);
}
.hosting-features-icon.http-protocol{
    background-image: url(../images/windows_hosting/http_protocol.webp);
}
.hosting-features-icon.ddos-protection{
    background-image: url(../images/windows_hosting/ddos_protection.webp);
}
.hosting-features-icon.git-integration{
    background-image: url(../images/windows_hosting/git_integration.webp);
}
.hosting-features-icon.uptime-guarantee{
    background-image: url(../images/windows_hosting/uptime_guarantee.webp);
}
.hosting-features-icon.expert-support{
    background-image: url(../images/windows_hosting/expert_support.webp);
}
.hosting-features-icon.moneyback-guarantee{
    background-image: url(../images/windows_hosting/moneyback_guarantee.webp);
}


.win-support-video {
  max-width: 100%;
  overflow: hidden;
  border: none;
  padding: 0;
  margin: 0;
}

.win-support-video video {
  width: 100%;
  height: auto;
  display: block;
  border: none;
  outline: none;
}
.win-support-video,
.win-support-video video,
.win-support-video iframe,
.win-support-video img,
.win-support-video table {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background: transparent !important;
}
